pydantic-ai
uv
boto3
bedrock-agentcore
bedrock-agentcore-starter-toolkit
pandas
numpy
geopandas
geodatasets
shapely
folium
geopy
nltk
scipy
pyproj
matplotlib
contextily
branca
nltk
utm
PyPDF2
requests
global-land-mask
copernicusmarine
xarray
rioxarray
